[MRESOLVER-600] Implement RFC 9457 - Problem Details for HTTP APIs

**[Mark Dodgson](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=JIRAUSER306829)** opened **[MRESOLVER-600](https://issues.apache.org/jira/browse/MRESOLVER-600?redirect=false)** and commented

HTTP1.1 [RFC 9112 - HTTP/1.1](https://www.rfc-editor.org/rfc/rfc9112.html#name-status-line) section 4 defines the response status code to optionally include a text description (human readable) of the reason for the status code.
There is an additional [RFC9457 - Problem Details for HTTP APIs](https://www.rfc-editor.org/rfc/rfc9457) which makes use of the body to inform of a reason for the error response allowing for easier investigation.

## Why is this important

[RFC9113 - HTTP/2](https://www.rfc-editor.org/rfc/rfc9113) is the HTTP2 protocol standard and the response status only considers the [status code](https://www.rfc-editor.org/rfc/rfc9113#name-response-pseudo-header-fiel) and not the reason phrase, as such important information can be lost in helping the client determine a route cause of a failure.


---

**Issue Links:**
- [WAGON-541](https://issues.apache.org/jira/browse/WAGON-541) Command Line Not Showing ReasonPhrase for Errors

- [MNG-6795](https://issues.apache.org/jira/browse/MNG-6795) define a replacement for ReasonPhrase to display details about transfert failures
 (_**"is required by"**_)

**Remote Links:**
- [GitHub Pull Request #576
](https://github.com/apache/maven-resolver/pull/576)
